.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ed7272;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 104px;
  top: 37px;
  width: 166px;
  height: 31px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 187px;
  top: 331px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 71px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 841px;
  top: 33px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 434px;
}
.call-to-action-button {
  background: #a8ff35;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 14px 21px 14px 21px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 628px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  -webkit-text-stroke: 1px #000000;
}
